.cookietool-message {
	position: fixed;
	width: 100%;
	padding: .5em;
	text-align: center;

	background: #F4FF74;
	border: 0 solid #9AA704;
	color: #444;
}

.cookietool-message-top {
	border-bottom-width: 1px;
	top: 0;
}

.cookietool-message-bottom {
	border-top-width: 1px solid;
	bottom: 0;
}

.cookietool-message p {
	margin: 0;
	margin-bottom: .5em;
}